/* Original styles */

/* Adjustments for smaller screens */
@media screen and (max-width: 1115px) {
  .home .mypic {
    width: 500px;
    height: 400px;
  }

  .home .home-content {
    font-size: 30px;
    margin: auto;
    padding: 35px;
  }

  .home-content .btns {
    width: 80%;
  }

  button {
    width: 150px;
    font-size: 20px;
  }

  .home .mypic {
    height: auto;
    width: auto;
  }

  .about .about-content {
    padding: 15px;
  }

  .about .about-image {
    margin: auto;
  }
}

@media screen and (max-width: 1026px) {
  .prof .prof-skills {
    width: 100%;
    margin-right: 10px;
  }

  .skill-content {
    grid-column-gap: 0px;
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 1009px) {
  .home .home-content {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .home .mypic {
    height: auto;
    width: auto;
  }

  .proj-img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 800px) {
  .home {
    flex-direction: column-reverse;
    align-items: center;
    height: 1390px;
  }

  .home .home-content {
    padding: 0px;
    margin-right: auto;
  }

  .home-content .btns {
    width: 90%;
  }

  button {
    width: 120px;
    font-size: 12px;
  }

  .home .mypic {
    margin: auto;
  }

  .about .about-content {
    width: 90%;
  }

  .about-image {
    display: none;
  }
}

@media screen and (max-width: 787px) {
  .skills {
    height: 1100px;
  }

  .skills .skill-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .prof {
    margin-top: 20px;
  }

  .prof .prof-skills {
    width: 75%;
  }

  .skill-content:hover .skill-bar .bar span::before {
    animation-play-state: paused;
  }

  .skill-content:hover .box {
    animation-play-state: paused;
  }

  .skill-content .tech:hover .skill-bar .bar span::before {
    animation-play-state: running;
  }

  .prof:hover .box {
    animation-play-state: running;
  }

  .item {
    width: 80%;
  }
}

@media screen and (max-width: 670px) {
  .home {
    height: 1300px;
  }

  .home .home-content {
    margin-bottom: 0px;
  }

  .proj-img {
    width: calc(100% / 1);
  }

  .nav-bar .hamburg-menu {
    display: block;
  }
}

@media screen and (max-width: 593px) {
  .home {
    height: 1250px;
  }

  button {
    width: 90px;
    font-size: 10px;
  }
}

@media screen and (max-width: 528px) {
  .home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }

  .home-sci span {
    font-size: 20px;
  }

  .prof .prof-skills {
    width: 90%;
    margin-right: 10px;
  }

  .prof {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
  }

  .prof .outer-circle {
    height: 80px;
    width: 80px;
  }

  .prof .inner-circle {
    height: 70px;
    width: 70px;
    margin: 5px;
  }

  h1 {
    font-size: 16px;
  }

  .skills .skill-content {
    margin-top: 20px;
  }

  .skill-bar {
    margin: 0 20px 12px 20px;
  }

  .about {
    padding: 0px;
    padding-top: 40px;
  }

  button {
    width: 100px;
    font-size: 10px;
  }

  .home .mypic {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .home-content .email {
    font-size: 10px;
  }

  .home-content .btns {
    width: 80%;
  }

  button {
    width: 70px;
    font-size: 8px;
  }
}

@media screen and (max-width: 370px) {
  .home {
    height: 1000px;
    margin-top: 20px;
  }

  .prof .prof-skills {
    width: 100%;
  }

  .home .mypic {
    height: 400px;
    width: 400px;
  }

  .nav-bar {
    padding: 0px;
  }

  .skills {
    height: 1500px;
  }

  .prof .outer-circle {
    height: 100px;
    width: 100px;
  }

  .prof .inner-circle {
    height: 80px;
    width: 80px;
    margin: 10px;
  }

  h1 {
    font-size: 15px;
  }

  .project {
    margin: 10px;
  }

  .skill-name {
    font-size: 8px;
  }
}

/* Base styles for all screen sizes */
.contact {
  display: flex;
  flex-wrap: wrap;
}

.contact-text {
  flex: 1;
}

@media (min-width: 577px) and (max-width: 767px) {
  .sub-title {
    font-size: 20px;
    margin-top: 50px;
  }

  .contact-text,
  .contact-form {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sub-title {
    font-size: 25px;
    margin-top: 10px;
  }

  .contact-text,
  .contact-form {
    width: 50%;
  }
}

@media (min-width: 992px) {

  .contact-text {
    width: 60%;
  }

  .contact-form {
    width: 50%;
  }
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 576px) {
  .home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }

  .home-sci span {
    font-size: 20px;
    margin-bottom: 0;
  }

  .mypic img {
    /* margin: 15px; */
    max-width: 300px;
    max-height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;

  }

  button {
    align-items: center;
    height: 40px;
    font-size: 13px;

  }

  .about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .about-text {
    margin-left: 20px;
    margin-right: 0em;
    align-items: center;
    padding-left: 20px;
    /* padding-right: 2px; */
    text-align: justify;
  }

  .about-img img {
    align-items: center;

  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .proj-list-container {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .proj-img {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .overlay {
    bottom: 0;
  }

  .proj-name {
    font-size: 15px;
  }

  .sub-title {
    font-size: 30px;
    margin-top: 50px;
  }

  .contact-text,
  .contact-form {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .service {
    margin: 0;
    padding: 0;
  }

  .container {
    margin: 0;
    padding: 0;
    padding-left: 40px;
    padding-right: 40px;

  }

  .contact {
    align-items: center;
    /* margin: 0; */
    padding-left: 50px;
    justify-content: center;

  }

  .copyright {
    font-size: 15px;
  }

  section {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 496px) {
  body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }
  .home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }

  .home-sci span {
    font-size: 20px;
    margin-bottom: 0;
  }

  .home-content h1 {
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 30px;
      width: 30px;
      z-index: 100;
    }

    div {
      position: relative;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      cursor: pointer;
      /* margin: 0 0.2px; */
      border-radius: 10px;
      box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
        4px 4px 6px rgba(0, 0, 0, 0.2),
        inset -1px -1px 4px rgba(255, 255, 255, 0.05),
        inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
  }

  .mypic img {
    /* margin: 15px; */
    max-width: 300px;
    max-height: 300px;
    margin-top: 100px;
    margin-bottom: 50px;

  }

  button {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    margin-left: 16px;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .about-text {
    margin-left: 20px;
    margin-right: 0em;
    align-items: center;
    padding-left: 20px;
    /* padding-right: 2px; */
    text-align: justify;
  }

  .about-img img {
    margin:5px;
    margin-left: 80px;
    /* padding: 0; */
    justify-content: center;
    text-align: center;
    align-items: center;

  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .proj-list-container {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .proj-img {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .overlay {
    bottom: 0;
  }

  .proj-name {
    font-size: 15px;
  }

  .sub-title {
    font-size: 30px;
    margin-top: 50px;
  }

  .contact-text,
  .contact-form {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .service {
    margin: 0;
    padding: 0;
  }

  .container {
    margin: 0;
    padding: 0;
    padding-left: 40px;
    padding-right: 40px;

  }

  .contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    /* margin: 0; */
    padding-left: 5px;
    justify-content: center;

  }

  .copyright {
    font-size: 15px;
  }

  section {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 396px) {
  body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }
  .home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }

  .home-sci span {
    font-size: 15px;
    margin-bottom: 0;
  }

  .home-content h1 {
    
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 30px;
      width: 30px;
      z-index: 100;
    }

    div {
      position: relative;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      cursor: pointer;
      /* margin: 0 0.2px; */
      border-radius: 10px;
      box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
        4px 4px 6px rgba(0, 0, 0, 0.2),
        inset -1px -1px 4px rgba(255, 255, 255, 0.05),
        inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
  }

  .mypic img {
    
    margin-left: 18px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 10px;
    /* margin-bottom: px; */

  }
  .home-content .email {
    font-size: 20px;
  }

  button {
    align-items: center;
    height: 40px;
    width: 100px;
    font-size: 13px;

  }

  .about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .about-text {
    margin-left: 2px;
    /* margin-right: 0em; */
    align-items: center;
    padding-left: 20px;
    /* padding-right: 2px; */
    text-align: justify;
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .proj-list-container {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .proj-img {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .overlay {
    bottom: 0;
  }

  .proj-name {
    font-size: 18px;
  }

  .sub-title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .contact-text,
  .contact-form {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .service {
    margin: 0;
    padding: 0;
  }

  .container {
    margin: 0;
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;

  }

  .contact {
    align-items: center;
    /* margin: 0; */
    padding-left: 5px;
    justify-content: center;

  }

  .copyright {
    font-size: 15px;
  }

  section {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 296px) {
  body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }
  .home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }

  .home-sci span {
    font-size: 15px;
    margin-bottom: 0;
  }

  .home-content h1 {
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 20px;
      width: 20px;
      z-index: 100;
    }

    div {
      position: relative;
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      cursor: pointer;
      /* margin: 0 0.2px; */
      border-radius: 10px;
      box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
        4px 4px 6px rgba(0, 0, 0, 0.2),
        inset -1px -1px 4px rgba(255, 255, 255, 0.05),
        inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
  }

  .mypic img {
    /* margin: 15px; */
    max-width: 300px;
    max-height: 300px;
    margin-top: 100px;
    margin-bottom: 50px;

  }

  button {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    margin-left: 16px;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .about-text {
    margin-left: 20px;
    margin-right: 0em;
    align-items: center;
    padding-left: 20px;
    /* padding-right: 2px; */
    text-align: justify;
  }

  .about-img img {
    margin:5px;
    margin-left: 80px;
    /* padding: 0; */
    justify-content: center;
    text-align: center;
    align-items: center;

  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .proj-list-container {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .proj-img {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .overlay {
    bottom: 0;
  }

  .proj-name {
    font-size: 15px;
  }

  .sub-title {
    font-size: 30px;
    margin-top: 50px;
  }

  .contact-text,
  .contact-form {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .service {
    margin: 0;
    padding: 0;
  }

  .container {
    margin: 0;
    padding: 0;
    padding-left: 40px;
    padding-right: 40px;

  }

  .contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    /* margin: 0; */
    padding-left: 5px;
    justify-content: center;

  }

  .copyright {
    font-size: 15px;
  }

  section {
    margin: 0;
    padding: 0;
  }
}
