* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'poppins', sans-serif;
}

/* html {
  font-size: 62.5%;
} */

body {
  background-color: #081b29;
  color: #ededed;
  overflow-x: hidden;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 10%;
  background: #051125;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  color: #0d1a56;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  position: relative;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideRight 1s ease forwards;

}

.nav>.nav-header>.nav-title span {
  color: cyan;
  font-weight: bold;
  font-size: 40px;
  padding-right: 5px;
  /* text-shadow: 0 0 15px yellow, 0 0 25px yellow; */

}

.nav>.nav-header>.nav-title span :hover {
  color: cyan;
  font-weight: bold;
  font-size: 40px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav-links :hover {
  color: #0ef;
  border-bottom: 1px solid white;
  transition: 0.3s;
}

.nav-links>a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 20px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav>.nav-btn {
    display: inline-block;
    /* position: absolute; */
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background: #051125;
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 30px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #051125;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
    padding: 20px;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
    padding: 50px;
  }
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  /* background: url('bg.avif') no-repeat; */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 50px 7% 0;
  color: white;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 5px;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: 30px 0px 30px 0;
  margin-top: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 span {
  color: #0ef;
}

.home .mypic {
  height: 100vh;
  width: auto;
  margin: auto;
  transition: .5s ease;
  transition: 0.3s;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.home .mypic img {
  margin-top: 80px;
  width: 100%;
  height: 60%;
  border-radius: 50%;
  box-shadow: 0px 0px 50px aqua, 2px 2px 5px aqua, 2px 2px 5px aqua,
    0px 20px 50px aqua;
  z-index: 2;
  
}

.home-content .email {
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 60px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-content .btns {
  margin-top: 50px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

button {
  width: 160px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  color: aqua;
  background-color: transparent;
  border: 2px solid aqua;
  box-shadow: 2px 2px 5px aqua, 2px -2px 5px aqua, -2px 2px 5px aqua,
    -2px -2px 5px aqua;
  border-radius: 5px;
  z-index: 2;
  opacity: 0;
  animation: slideRight .5s ease forwards;
  animation-delay: calc(.3s * var(--i));
}

button:hover {
  background-color: aqua;
  color: black;
  border-radius: 30px;
  box-shadow: 0px 0px 50px aqua, 0px 0px 50px aqua;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 50px 15px 30px 10px;
  transition: 0.3s;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a :hover {
  color: white;
  box-shadow: 20px 20px 80px rgb(229, 255, 0);
}

.mypic span {
  font-size: 30px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-content h1 {

  ul {
    position: relative;
    display: flex;
  }

  li {
    list-style: none;
  }

  label {
    position: relative;
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 500px;
    width: 500px;
    z-index: 100;
  }

  /* div {
    position: relative;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    cursor: pointer;
    margin: 0 2px;
    border-radius: 10px;
    box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
      4px 4px 6px rgba(0, 0, 0, 0.2),
      inset -1px -1px 4px rgba(255, 255, 255, 0.05),
      inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  } */

  input[type="checkbox"]:checked~div {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
      inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 0.2s linear infinite;

  }

  @keyframes glow {
    0% {
      filter: hue-rotate(0deg);
    }

    100% {
      filter: hue-rotate(360deg);
    }
  }
}

/* about us */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
  /* margin: 0 80px; */
}

.about-img img {
  margin-left: 20%;
  align-items: center;
  max-width: 630px;
  width: 50%;
  height: auto;
  border-radius: 5%;
  box-shadow: 0px 0px 50px aqua, 2px 2px 5px aqua, 2px 2px 5px aqua,
    0px 20px 50px aqua;
  z-index: 2;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: #0ef;
}

.about-text h4 {
  font-size: 30px;
  font-weight: 600;
  color: white;
  line-height: 1.7;
  margin: 15px 0 25px;
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 30px;
  margin-right: 50px;
}

.about-text {
  text-align: justify;
}

#more {
  display: none;
}

/* about us */

/* service */
#services {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
}

.sub-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 50px;

}

.sub-title span {
  color: #0ef;
}

.container {
  padding-left: 90px;
  padding-right: 90px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
}

.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-radius: 20px;
  transition: backgroung 0.5s, transform 0.5;
  box-shadow: 1px 1px 20px #012290f7,
    1px 1px 40px #0053b8f7;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;

}

.services-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  display: inline-block;
  margin-top: 20px;
}

.read a {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 15px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.5s;
  box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.read a:hover {
  box-shadow: 0px 0px 5px aqua, 0px 0px 50px aqua;

}

.services-list div:hover {
  transform: translateY(-10px);
}

/* service */

/*project*/

.project {
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}

.proj-list-container {
  /* max-width: 1000px; */
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  position: relative;
}

.project-list {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  gap: 20px;
}

.proj-img {
  border: 2px solid white;
  border-radius: 10px;
  height: 200px;
  width: calc(100% / 3.10);
  background-color: white;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.proj-img img {
  height: 100%;
  width: 100%;
  position: relative;
}

.proj-img img {
  transition: filter 0.5s ease-in-out;
}

.proj-img:hover img {
  filter: brightness(40%);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay-icons {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.overlay-icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid aqua;
  border-radius: 50%;
  box-shadow: 0 0 10px aqua;
  font-size: 15px;
}

.overlay-icon i {
  color: aqua;
}

.proj-name {
  margin-top: 15px;
  color: white;
  font-weight: 500;
}

.proj-img:hover .overlay {
  opacity: 1;
}

.overlay-icon:hover {
  box-shadow: 0px 0px 40px aqua;
}

/*project*/

/* skills */
.skills {
  height: 100vh;
  text-align: center;
  color: white;
  /* margin-top: 1px; */
  /* margin-bottom: 3px; */
}

.skill-content {
  width: 100%;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1px;
  grid-column-gap: 1px;
}

.skill-bar {
  margin: 0 50px 22px 80px;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.skill-bar .bar {
  width: 100%;
  height: 10px;
  margin-top: 10px;
  border-radius: 25px;
  background-color: #000000;
  position: relative;
}

.skill-bar .bar span {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
}

.skill-bar .bar .html {
  width: 90%;
}

.skill-bar .bar .css {
  width: 80%;
}

.skill-bar .bar .js {
  width: 75%;
}

.skill-bar .bar .java {
  width: 90%;
}

.skill-bar .bar .backend {
  width: 85%;
}

.skill-bar .bar .database {
  width: 80%;
}

.skill-bar .bar .db {
  width: 83%;
}

.skill-bar .bar .others {
  width: 70%;
}

.skill-bar .bar span::before {
  content: "";
  left: 0;
  position: absolute;
  height: 100%;
  background-color: aqua;
  border-radius: 25px;
  box-shadow: 0px 0px 10px aqua;
  animation: slider 1s forwards;
  animation-play-state: paused;
}

.skill-content:hover .skill-bar .bar span::before {
  animation-play-state: running;
}

@keyframes slider {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.prof {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  display: grid;

}

.prof .prof-skills {
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 70px;
}

.prof .outer-circle {
  width: 120px;
  height: 120px;
  margin: 10px;
  border-radius: 50%;
  position: relative;
  background-color: aqua;
  border: 1px solid aqua;
  box-shadow: 0px 0px 15px aqua;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.prof .inner-circle {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171617;
  border-radius: 50%;
  margin: 10px;
  position: relative;
}

.skill-name {
  font-size: 14px;
  font-weight: bold;
  color: white;
  z-index: 4;
  position: absolute;
  width: 100%;
}

.prof .box {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: #171617;
  animation-play-state: paused;
}

.skill-content:hover .box {
  animation-play-state: running;
}

.box-top-left {
  left: 0;
  top: 0;
  transform-origin: 100% 100%;
  animation: show-top-left 0.5s linear forwards;
}

.box-bottom-left {
  left: 0;
  top: 60px;
  transform-origin: 100% 0;
  animation: show-bottom-left 0.5s linear 0.5s forwards;
}

.box-top-right {
  left: 60px;
  top: 0;
  transform-origin: 0 100%;
  animation: show-top-right 0.5s linear 1.5s forwards;
}

.box-bottom-right {
  left: 60px;
  top: 60px;
  transform-origin: 0 0;
  animation: show-bottom-right 0.5s linear 1s forwards;
}

@keyframes show-top-left {
  0% {
    transform: skewX(0deg);
  }

  99.9% {
    height: 60px;
    width: 60px;
  }

  100% {
    height: 0;
    width: 0;
    transform: skewX(90deg);
  }
}

@keyframes show-bottom-left {
  0% {
    transform: skewY(0deg);
  }

  99.9% {
    height: 60px;
    width: 60px;
  }

  100% {
    height: 0;
    width: 0;
    transform: skewY(-90deg);
  }
}

@keyframes show-bottom-right {
  0% {
    transform: skewX(0deg);
  }

  99.9% {
    height: 60px;
    width: 60px;
  }

  100% {
    height: 0;
    width: 0;
    transform: skewX(90deg);
  }
}

@keyframes show-top-right {
  0% {
    transform: skewY(0deg);
  }

  99.9% {
    height: 60px;
    width: 60px;
  }

  100% {
    height: 0;
    width: 0;
    transform: skewY(-90deg);
  }
}

/* skills */

/* contact */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
  padding-left: 80px;
  padding-right: 50px;
  margin-bottom: 30px;
}

.contact-text h4 {
  margin: 15px 0;
  color: rgb(224, 236, 236);
  font-size: 25px;
  font-weight: 600;
}

.contact-text p {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.contact-list {
  margin-bottom: 30px;
}

.contact-list li {
  margin-bottom: 10px;
  display: block;
  padding-right: 10px;
  font-size: 20px;
}

.contact-list li i {
  display: inline-block;
  padding-right: 20px;
  color: #0ef;
  font-size: 20px;
  font-weight: 600;
  transition: all .4s ease;
}

.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: #0ef;
}

.contact-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  ;
  margin: 10px 10px 30px 0;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));

}

.contact-icons a :hover {
  color: white;
  box-shadow: 2px 2px 80px rgb(224, 236, 236);
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: rgb(229, 220, 220);
  color: #000;
  font-weight: 600;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px solid #0ef;
  transition: 0.3s;
  opacity: 0;
  animation: slideLeft .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.contact-form .btns button {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: 0.3s;
  opacity: 0;
  animation: slideLeft .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

/* contact */

/*footer*/
.copyright {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: auto;
  animation: slideTop 1s ease forwards;
}

.copyright a {
  text-decoration: none;
  color: white;
}

.copyright span {
  color: red;
}

/*footer*/

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    optacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    optacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    optacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    optacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}



/*image hover*/
.mypic img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px auto;
  background: white;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}

.mypic img:hover {
  box-shadow: 0px 0px 50px rgb(244, 248, 0), 2px 2px 5px rgb(230, 0, 255), 2px 2px 5px white,
    0px 20px 50px rgb(47, 254, 1);
    
}

.sub-title span {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;

  &:after,
  &:before {
    content: " ";
    width: 5px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }

  &:after {
    top: 5px;
    left: 5px;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
  }

  &:before {
    bottom: 0px;
    right: 0px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
  }

  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;

    &:before,
    &:after {
      width: 100%;
      height: 100%;

    }
  }
}

section {
  margin-left: 50px;
  margin-right: 50px;
}

/* .project {
  margin-top: 30px;
  margin-bottom: 30px;
} */

.bottom-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: aqua;
  color: rgb(2, 2, 2);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
}

.bottom-to-top i {
  font-size: 20px;
}

.sticky-icon {
  z-index: 1;
  position: fixed;
  top:30%;
  right: 0%;
  width: 220px;
  display: flex;
  flex-direction: column;
  /* opacity: 0.5; */
}

.sticky-icon a {
  transform: translate(160px, 0px);
  border-radius: 50px 0px 0px 50px;
  text-align: left;
  margin: 3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  transition: all 0.8s;
}

.sticky-icon a:hover {
  color: #FFF;
  transform: translate(0px, 0px);
}

.sticky-icon a:hover i {
  transform: rotate(360deg);
}

.Facebook {
  background-color: #2C80D3;
  color: #FFF;
}

.Youtube {
  background-color: #fa0910;
  color: #FFF;
}

.Whatsapp {
  background-color: #11bc36;
  color: #FFF;
}

.Github {
  background-color: #524242;
  color: #FFF;
}

.LinkedIn {
  background-color: #106fcd;
  color: #FFF;
}

.sticky-icon a i {
  background-color: #FFF;
  height: 40px;
  width: 40px;
  color: #000;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.5s;
}

.sticky-icon a i.fa-facebook-f {
  background-color: #FFF;
  color: #2C80D3;
}

.sticky-icon a i.fa-linkedin-in {
  background-color: #FFF;
  color: #0c75ed;
}

.sticky-icon a i.fa-github {
  background-color: #FFF;
  color: #230606;
}

.sticky-icon a i.fa-youtube {
  background-color: #FFF;
  color: #fa0910;
}

.sticky-icon a i.fa-whatsapp {
  background-color: #FFF;
  color: #08a40d;
}


